:root {
    --border-color: #291D4D;
    --dialog-background: #FFF3B4;

    --menu-background: #FFE8D2;
    --menu-border-color: #A48465;
    --menu-font-color: #292222;
    --menu-selected-background: #7fc2ff;
}

* {
    box-sizing:border-box;
    padding: 0;
    margin: 0;
}

body {
    background: #1c1c1c;
    overflow: hidden;
    font-family: 'Changa', sans-serif;
}

#message-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 30px;
}

#message {
    width: 100%;
    color: white
}

.game-container {
    position: relative;
    width: 352px; /*352px*/
    height: 198px; /* 198px*/
    margin: 0 auto;
    outline: 1px solid #fff;
    transform: scale(2.8) translateY(50%);
    display: none;
    /*x2 pour les anciennes et 35%*/
}

.game-container canvas {
    image-rendering: pixelated;
}

.next-game-container {
    position: relative;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9;
}

.next-game-canvas {
    margin: -110px auto;
    image-rendering: pixelated;
}

.menu-end-game {
    position: absolute;
    width: 600px;
    height: 300px;
    top: 50%;
    left: 50%;
    z-index: 90;
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(252, 252, 252);
    border: 2px solid #301742;
    border-radius: 5px;
    transform: translate(-50%, -50%);
}

.menu-end-game h2 {
    width: 80%;
    font-size: 32px;
    border-bottom: 1px solid #582a79;
    border-top: 1px solid #582a79;
}

.menu-end-game p {
    width: 80%;
    text-align: justify;
    line-height: 25px;
    font-size: 18px;
}

.menu-end-game button {
    all: unset;
    background-color: #582a79;
    color: white;
    border-radius: 5px;
    width: 150px;
    height: 30px;
    cursor: pointer;
    margin-bottom: 15px;
    padding: 5px;
    transition: transform .1s;
}

.menu-end-game button:hover {
    transform: scale(1.1);
}

#mobile-container {
    display: none;
}

@media not all and (min-width: 900px) {

    #mobile-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 100vw;
        height: 100vh;
        z-index: 1;
        background-color: #1c1c1c;
        text-align: center;
        color: white;
    }

    #mobile-title {
        margin-top: 3%;
    }

    #mobile-text {
        font-size: 18px;
    }
}
