:root {
    --border-color: #291D4D;
    --dialog-background: #FFF3B4;

    --menu-background: #FFE8D2;
    --menu-border-color: #A48465;
    --menu-font-color: #3A160D;
    --menu-selected-background: #7fc2ff;
}

* {
    box-sizing:border-box;
    padding: 0;
    margin: 0;
}

body {
    background: #333;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;

}

#message-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 30px;
}

#message {
    width: 100%;
    color: white
}

.game-container {
    position: relative;
    width: 352px; /*352px*/
    height: 198px; /* 198px*/
    margin: 0 auto;
    outline: 1px solid #fff;
    transform: scale(2.8) translateY(50%);
    display: none;
    /*x2 pour les anciennes et 35%*/
}

.game-container canvas {
    image-rendering: pixelated;
}

.next-game-container {
    position: relative;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9;
}

.next-game-canvas {
    margin: -110px auto;
    image-rendering: pixelated;
}

.menu-end-game {
    position: absolute;
    width: 400px;
    height: 200px;
    top: 25%;
    left: 40%;
    z-index: 10;
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5px;
    background-color: rgba(164, 132, 101, 0.86);
}

.menu-end-game h2 {
    width: 100%;
}

.menu-end-game p {
    width: 100%;

}

.menu-end-game button {
    width: 30%;
    height: 30px;
    border: none;
    cursor: pointer;
    margin-bottom: 15px;
}